<!DOCTYPE HTML>
<html>

<head>
<meta charset="UTF-8">
<title>Задача</title>
<style type="text/css">

a{
text-decoration: none;
color: black;
}
.selected{
border-bottom: 4px solid black;
}
</style>

</head>


<body>

<h1> Ссылка {{a}}</h1>

{%for i in range (1,4)%}
{% if i==a %}
<a href="/indexx/{{i}}" class="selected"> Ссылка {{i}} </a>
{%else%}
<a href="/indexx/{{i}}"> Ссылка {{i}} </a>
{%endif%}
{%endfor%}

</body>
</html>